
<%= subscribe_to "/messages/new/"+ @usernumber.to_s %>
<!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand Title">
                    <a href="#">
                        Helping Chat
                    </a>
                </li>
                <li class="Head1">
                    <a data-toggle="collapse" data-target="#yourinfo"href="#">Your info</a>
                    <p class="collapse" id="yourinfo">
                        This is where your info will be! </p>
                </li>
                <li class="Head2">
                    <a data-toggle="collapse" data-target="#theirinfo"href="#">Their info</a>
                    <p class="collapse" id="theirinfo">
                        This is where their info will be! </p>
                </li>
                <li class="Head3">
                    <a href="#">Helplines</a>
                </li>
                <li class="Head4">
                    <a href="#">Rules</a>
                </li>
                 <li class="Head5">
                    <a href="#">Other Website to help</a>
                </li>
                <li class="Head6">
                    <a href="#">About us</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

<div class="container">
	<div class="panel panel-default chat-panel">
	  <div class="panel-heading">Your Chat:</div>
	  <div class="panel-body">
	    <ul id="chat">
			 <% unless @messages.blank? %>
			 	<%= render @messages %>
			<%end%>
		</ul>
	  </div>
      <div class="panel-footer">
          <div class= "footer_inner center">
              <%= form_for Message.new, :html => {:class => 'center'}, remote: true do |f| %>
                  <%= f.text_field :content, :class => 'message_input'%>
                  <%= f.submit "Send", :class => 'message_button' %>
                <% end %>
          </div>
      </div>
	</div>

