<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag("messages.css") %>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
  var socket = io.connect('http://helpingchatbackend.herokuapp.com');
  //var socket = io.connect('http://localhost:8080');

  // on connection to server, ask for user's name with an anonymous callback
  socket.on('connect', function(){
    // call the server-side function 'adduser' and send one parameter (value of prompt)
  });
   socket.on('replytonewuser', function(){
    //When a user joins a chat a need to reply
    socket.emit('replynewuser', $('#issue').text());
  });
  // listener, whenever the server emits 'updatechat', this updates the chat body
  socket.on('updatechat', function (username, data) {
     $('<li></li>').html(username + ": " + data).appendTo('#chat');
    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
    });


  function switchRoom(room){
    socket.emit('switchRoom', room);
  }
</script>

<!-- Nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class = "navbar-header">
      <p class = "navbar-brand"> Helping Chat </p>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="mainnav">
      <ul class = "nav nav-pills navbar-nav">
        <li class="nav-link">
          <a data-toggle="modal" class="nav-link" data-target="#placeshelp">Other Places for Help</a>
        </li>
        <li class="nav-link">
          <a data-toggle="modal" class="nav-link" data-target="#rules">Rules</a>
        </li>
        <li class="nav-link">
          <a data-toggle="modal" class="nav-link" data-target="#startingquestions">Opening Questions</a>
        </li>

        <li class="nav-link">
          <a data-toggle="modal" class="nav-link" data-target="#aboutmodel">About Us</a>
        </li>
        <li class="dropdown nav-link">
          <a id="nav-bar" class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false"> <span id="name"><%= @name %> </span><span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
           <li role="presentation"><a role="menuitem" data-toggle="modal" class="nav-link" data-target="#changename"> Change your name </a></li>
           <li role="presentation"><a role="menuitem" data-toggle="modal" class="nav-link" data-target="#changeissue"> Change issue </a></li>
         </ul>
       </li>
     </ul>
   </div>
 </div>
</nav>
<!-- Main_Page -->
<!-- Desktop side -->
<!-- /#sidebar-wrapper -->
<div class="maincontainer">
  <div class="panel panel-default chat-panel">
   <div class="panel-heading">
    Your Chat:
    <div id="chatbuttons" class = "chatbuttons pull-right">
      <input type="button"  value="Start Chatting" onclick="startnewroom()" class="btn startchatbutton chat-button"/>
  </div>
</div>
  <div class="panel-body">
   <ul id="chat">
   </ul>
 </div>
 <div class="panel-footer">
  <div class= "footer_inner center">
    <input id="messagetextinput" style="width:200px;" class="message chat_message"/>
    <input type="button" id="messagesend" class="btn" value="Send" />
  </div>
</div>
</div>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Chat Lower -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-2049126681125303"
     data-ad-slot="3966071276"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
<!-- End of the main container -->
</div>


<!--Splash Modal -->
<div class="modal fade" id="splashmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to Helping Chat</h4>
      </div>
      <div class="modal-body">
        <p>
          Hello and Welcome to Helping Chat! This website has been designed to help people that have any issue ranging from a tough desicion that they may have to make in life to someone that might be thinking about susicde. This website allows to people to chat about whats brothering them and help the other person out while helping themself at the same time.
          Hello and Welcome to Helping Chat! This website is here to help anyone that is dealing with an issue in their life. Its a simple anonmiouns chat program that allows you to talk to a random person that has an issue and you will work out both your issues together in a place where you can not be judged or anyone know who you are.If you ares till having issues after using this website please seak some help from a doctor as they can and will help you.
          <br>
          You can find me on twitter here: <a href="https://www.twitter.com/robertwildman">@Robertwildman</a>.
          <br>
          You can email me at <a href="mailto:robertwildman@helpingchat.com?subject=Website Feedback">robertwildman@helpingchat.com</a>.
          <br>
          Your current name: <span id = "name"><%= @name %></span>.
          <br>
          <% if got_issue? %>
          Your current saved issue: <span id="issue"><%= @issue %></span>.
          <% else %>
          There is no issue saved for you, If you would like to add one please click on the button below.
          <% end %>
        </p>
      </div>
      <div class="modal-footer">
        <div class="modal-spalsh-buttongroup">
          <div class="modal-splash-button">
           <a data-toggle="modal" class="model-splash-link" data-target="#changename">Change Name</a>
         </div>
         <div class="modal-splash-button">
           <a data-toggle="modal" class="model-splash-link" data-target="#changeissue">Change Issue</a>
         </div>
         <div class="modal-splash-button">
           <a onclick="startchattesty()" class="model-splash-link"> Start Chatting</a>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>


<!-- About Us -->
<div class="modal fade" id="aboutmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About Us</h4>
      </div>
      <div class="modal-body">
        <p>
          Hello and Welcome to Helping Chat! This website is here to help anyone that is dealing with an issue in their life. Its a simple anonmiouns chat program that allows you to talk to a random person that has an issue and you will work out both your issues together in a place where you can not be judged or anyone know who you are.
        </p>
        <br>
        <p>You can find me on twitter here: <a href="https://www.twitter.com/robertwildman">@Robertwildman</a>
          <br>
          You can email me at robertwildman@helpingchat.com .
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Starting Questions -->
<div class="modal fade" id="startingquestions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Starting Questions</h4>
      </div>
      <div class="modal-body">
        <p> To help you get the convestions going. We have come up with some good starting questions to break the ice and help each ohter quicker and better.
          <ol>
            <li>How are you currently feeling due to your issue? </li>
            <li>What hobbies do you have? </li>
            <li>What makes your feel good about yourself? </li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>

<!--Other places to help -->
<div class="modal fade" id="placeshelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Other places to get help</h4>
      </div>
      <div class="modal-body">
        <p>Sometimes this site can't help you or can't give the the full help you will need to get better. For this reason we encore you vist these sites based on the issue that you might have.
        </p>
      </div>
    </div>
  </div>
</div>
<!--Rules -->
<div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rules</h4>
      </div>
      <div class="modal-body">
        <p>
          We want to keep the rules simple an easy to follow.
          <ol>
            <li>Understand people are farglie when on the site. </li>
            <li>Respect who the person is and who they want to be.</li>
            <li>Be open minded about someones view and listen to them. </li>
            <li>No making fun or trolling people. </li>
            <li>Respect the other person pricay. </li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>

<!--Changing name -->
<div class="modal fade" id="changename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change your Name </h4>
      </div>
      <div class="modal-body">
        <p id="nametext1">Your current name is: <%= @name %> </p>
        <!-- This sends a form away to the controller for changing name -->
        <%= form_tag(changename_path, method: "Post", :remote => true) do %>
        <div class = "form-group">
          <%= text_field_tag :name,@name,:placeholder => "Enter Name",:id => "username_input",:class => 'form-control'%>
        </div>
        <%= submit_tag "Change Name", :onclick => "return namechangedfunction()",:class => 'btn btn-lg btn-block btn-default namechange-button add-topic-btn',:id => "namechange-button"%>

        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Name changed -->
<div class="modal fade" id="namechanged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Name has been changed!</h4>
      </div>
      <div class="modal-body">
        <p id ="namechangedtext">Your Name has been changed to:</p>
      </div>
    </div>
  </div>
</div>
<!--Changing issue -->
<div class="modal fade" id="changeissue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change your issue</h4>
      </div>
      <div class="modal-body">
        <p id="issuetext1">Your current issue is: <%= @issue %> </p>
        <!-- This sends a form away to the controller for changing name -->
        <%= form_tag(changeissue_path, method: "Post", :remote => true) do %>
        <div class = "form-group">
          <%= text_field_tag :issue,@issue,:placeholder => "Enter issue",:id => "issue_input",:class => 'form-control'%>
        </div>
        <%= submit_tag "Change Issue", :onclick => "return issuechangedfunction()",:class => 'btn btn-lg btn-block btn-default namechange-button add-topic-btn'%>

        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Issue changed -->
<div class="modal fade" id="issuechanged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Issue has been changed!</h4>
      </div>
      <div class="modal-body">
        <p id ="issuechangedtext">Your Issue has been changed to:</p>
      </div>
    </div>
  </div>
</div>


