<%= subscribe_to @roomaddress %>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<%= javascript_include_tag "http://localhost:9292/faye.js" %>
<!-- Nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class = "navbar-header">
      <p class = "navbar-brand"> Helping Chat </p>
    </div>
    <ul class = "nav nav-pills navbar-nav">
      <li class="nav-link" >
        <a href="#" class = "nav-link">Other Places for Help</a>
      </li>
      <li role="presentation" class="dropdown nav-link">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
          Rules <span class="caret"></span>
        </a>
        <ol class="dropdown-menu" role="menu">
          <li>Be Respectfull</li>
          <li>No asking for personal infomation</li>
        </ol>
      </li>

      <li role="presentation" class="dropdown nav-link">
        <a class="dropdown-toggle nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false"> Starting Questions <span class="caret"></span>
        </a>
        <ol class="dropdown-menu" role="menu">
          <li>Be Respectfull</li>
          <li>No asking for personal infomation</li>
        </ol>
      </li>
      <li class="nav-link">
        <a href="#">About Us</a>
      </li>
    </ul>
  </div>

</nav>
<!-- Main_Page -->
<ins class="adsbygoogle"
style="display:block; width:80%;float:right;height:90px;"
data-ad-client="ca-pub-2049126681125303"
data-ad-slot="9104544471"
data-ad-format="auto"></ins>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>
<script type="text/javascript" charset="utf-8">
  PrivatePub.subscribe("<%= @roomaddress %>", function(data) {
    if(data.username == "Helpingcompchat")
    {
        $.ajax({
        url: '/compreply',
        type: 'POST',
        dataType: 'json',
        data: settings,
        cache: true,
        success: function (data) {}
      });
    }else
    {
      $('<li></li>').html(data.username + ": " + data.msg).appendTo('#chat');
    }
  });
  window.onbeforeunload = function()
  {

  }

</script>
<!-- /#sidebar-wrapper -->

<div class="panel panel-default chat-panel">
 <div class="panel-heading">Your Chat:</div>
 <div class="panel-body">
   <ul id="chat">
    <li>
      <p>User id is <%= @user_id %> </p>
    </li>
    <li>
      <p>Room id is <%= @roomaddress %> </p>
    </li>
   <li> <%= @output%> </li>
    <%= @error%>
  </ul>
</div>
<div class="panel-footer">
  <div class= "footer_inner center">
    <%= form_tag new_message_path, :remote => true do %>
    <%= text_field_tag :message %>
    <%= submit_tag "Send" %>
    <% end %>
  </div>
</div>
</div>
</div>
