<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= stylesheet_link_tag 'messages'%>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
  //var socket = io.connect('http://helpingchatbackend.herokuapp.com');
  var socket = io.connect('http://localhost:8080');

  // on connection to server, ask for user's name with an anonymous callback
  socket.on('connect', function(){
    // call the server-side function 'adduser' and send one parameter (value of prompt)
  });
  socket.on('helpingchatmessage', function(data){
    $("<div></div>").attr('class','helpingchatbubble bubble').append($("<p></p>").append(data)).appendTo('#chat');
    $("<br>").appendTo('#chat');
    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
  });
   socket.on('replytonewuser', function(){
    //When a user joins a chat a need to reply
    socket.emit('replynewuser', $('#issue').text());
  });
  // listener, whenever the server emits 'updatechat', this updates the chat body
  socket.on('updatechat', function (username, data) {
    $("<div></div>").attr('class','theirbubble bubble pull-left').append($("<p></p>").append(data)).appendTo('#chat');
    $("<br>").appendTo('#chat');
    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
  });

  function switchRoom(room){
    socket.emit('switchRoom', room);
  }
</script>

<!-- Nav bar -->
 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
      <p class = "navbar-brand brand"> Helping Chat </p>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- /.navbar-collapse -->
</nav>
<!-- Main_Page -->
<!-- Desktop side -->
<!-- /#sidebar-wrapper -->
<div class="maincontainer">
  <div class="column-center">
    <div class="chat-header">
      <h4 class="chat-header-text">You are chatting to: </h4>
      <input type="button" id="startchat" class="btn start-chat-button lightcoral pull-right" value="New Person" />
    </div>
    <div class="chat-body" id ="chat" >
        <div class="chat-before helpingchatbubble">
          <h4>Hello, We ask that you enter in a name that you wish to be called and also a little bit about how your current feeling so the other person has a small idea to start chatting about it.</h4>
        </div>
        <div class="chat-before helpingchatbubble">
          <%= form_tag(changeboth_path, method: "Post" ,:remote => true) do %>
        <div class = "form-group">
          <h4 class="pull-left">Name:</h4>
          <%= text_field_tag :name,@name, :required => true,:placeholder => "Enter Name",:id => "chat_username_input",:class => 'form-control'%>
          <br>
          <h4 class="pull-left">Feeling:</h4>
          <%= text_field_tag :issue,@issue, :required => true,:placeholder => "Enter your feelings",:id => "chat_issue_input",:class => 'form-control'%>
        </div>
         <%= submit_tag "Start Chatting.",:class => 'btn btn-lg btn-block btn-default namechange-button add-topic-btn',:id => "startchatting"%>
        <% end %>
        </div>
    </div>
    <div class="chat-footer">
        <div class="chat-input-div">
        <textarea id="messagetextinput" class="message chat_message"> </textarea>
        <input type="button" id="messagesend" class="btn chat-button  cadetblue pull-right " value="Send" />
        </div>
    </div>
  </div>
  <div class="column-left">
    <div class ="left-option top-option">
      <div class = "left-option-head ">
        <a data-toggle="modal" href="#placeshelp" class="left-option-link" > <h4>Other Places for Advice <span class="caret"></span></h4> </a>
      </div>
      <div class ="left-option-body">

      </div>
    </div>

    <div class ="left-option">
      <div class = "left-option-head ">
      <a data-toggle="modal" href="#rules" class="left-option-link" > <h4>Rules <span class="caret"></span></h4> </a>
      </div>
      <div class ="left-option-body">

      </div>
    </div>

    <div class ="left-option">
      <div class = "left-option-head ">
        <a data-toggle="modal" href="#startingquestions" class="left-option-link" > <h4>Starting Questions <span class="caret"></span></h4> </a>
      </div>
      <div class ="left-option-body">

      </div>
    </div>

    <div class ="left-option">
      <div class = "left-option-head ">
        <a data-toggle="modal" href="#aboutmodal" class="left-option-link" > <h4>About Us <span class="caret"></span></h4> </a>
      </div>
    </div>
    <div class ="left-option">
     <div class = "left-option-head ">
     <a data-toggle="modal" href="#contactus" class="left-option-link" > <h4>Contact Us <span class="caret"></span></h4> </a>
      </div>
      <div class ="left-option-body">

      </div>
    </div>
    <div class ="left-option">
     <div class = "left-option-head ">
        <a data-toggle="modal" href="#contactus" class="left-option-link" > <h4>Edit Your Infomation <span class="caret"></span></h4> </a>
      </div>
    </div>
    <div class ="left-option">
     <div class = "left-option-head ">
        <h4>Spread the word about Helping Chat! </h4>
      </div>
      <div class ="left-option-body">
        <div class="addthis_sharing_toolbox"></div>
      </div>
    </div>
  </div>
  <div class = "column-right">

    <div class = "right-info">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Chat Lower -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-2049126681125303"
           data-ad-slot="3966071276"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
</div>
</div>
<!-- End of the main container -->



<!--Splash Modal -->
<div class="modal fade" id="splashmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to Helping Chat</h4>
      </div>
      <div class="modal-body">
        <p>
          Hello and Welcome to Helping Chat! I hope that you are feeling good today but if your not don't worry their is many people going though the same as you or similarly and their waiting to chat about their issue and yours so you can help make each other feel better.
          <br>
          <br>
          You will be able to chat to someone that may have been though something like you are currently going though and they might be able to give you some help and advice on how you can feel better and help you get out of the dark spire that you may be in. At the same time you will be helping them if their issues.
          <br>
          <br>
          If you want to give feedback about the website please tweet me or email me.
          <br>
          Twitter: <a href="https://www.twitter.com/robertwildman">@Robertwildman</a>.
          <br>
          Email: <a href="mailto:robertwildman@helpingchat.com?subject=Website Feedback">robertwildman@helpingchat.com</a>
          <br>
          <br>
          <h5> Please Share Helping Chat as you might be able to help someone that needs to chat about whats currently going though their mind. <h5>
        </p>
      </div>
      <div class="modal-footer">
        <div class="modal-spalsh-buttongroup">
          <div class="modal-splash-button">
           <a data-toggle="modal" class="model-splash-link" data-target="#changename">Change Name</a>
         </div>
         <div class="modal-splash-button">
           <a data-toggle="modal" class="model-splash-link" data-target="#changeissue">Change Issue</a>
         </div>
         <div class="modal-splash-button">
           <a onclick="startchattesty()" class="model-splash-link"> Start Chatting</a>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>


<!-- About Us -->
<div class="modal fade" id="aboutmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About Us</h4>
      </div>
      <div class="modal-body">
        <p>
          Hello and Welcome to Helping Chat! This website is here to help anyone that is dealing with an issue in their life. Its a simple anonmiouns chat program that allows you to talk to a random person that has an issue and you will work out both your issues together in a place where you can not be judged or anyone know who you are.
        </p>
        <br>
        <p>You can find me on twitter here: <a href="https://www.twitter.com/robertwildman">@Robertwildman</a>
          <br>
          You can email me at robertwildman@helpingchat.com .
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Contact Us -->
<div class="modal fade" id="contactus" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Contact Us</h4>
      </div>
      <div class="modal-body">
        <p>
          Hello and Welcome to Helping Chat! This website is here to help anyone that is dealing with an issue in their life. Its a simple anonmiouns chat program that allows you to talk to a random person that has an issue and you will work out both your issues together in a place where you can not be judged or anyone know who you are.
        </p>
        <br>
        <p>You can find me on twitter here: <a href="https://www.twitter.com/robertwildman">@Robertwildman</a>
          <br>
          You can email me at robertwildman@helpingchat.com .
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Starting Questions -->
<div class="modal fade" id="startingquestions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Starting Questions</h4>
      </div>
      <div class="modal-body">
        <p> To help you get the convestions going. We have come up with some good starting questions to break the ice and help each ohter quicker and better.
          <ol>
            <li>How are you currently feeling due to your issue? </li>
            <li>What hobbies do you have? </li>
            <li>What makes your feel good about yourself? </li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>

<!--Other places to help -->
<div class="modal fade" id="placeshelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Other places to get help</h4>
      </div>
      <div class="modal-body">
        <p>Sometimes this site can't help you or can't give the the full help you will need to get better. For this reason we encore you vist these sites based on the issue that you might have.
        </p>
      </div>
    </div>
  </div>
</div>
<!--Rules -->
<div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rules</h4>
      </div>
      <div class="modal-body">
        <p>
          We want to keep the rules simple an easy to follow.
          <ol>
            <li>Understand people are farglie when on the site. </li>
            <li>Respect who the person is and who they want to be.</li>
            <li>Be open minded about someones view and listen to them. </li>
            <li>No making fun or trolling people. </li>
            <li>Respect the other person pricay. </li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>

<!--Changing name -->
<div class="modal fade" id="changename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change your Name </h4>
      </div>
      <div class="modal-body">
        <p id="nametext1">Your current name is: <%= @name %> </p>
        <!-- This sends a form away to the controller for changing name -->
        <%= form_tag(changename_path, method: "Post", :remote => true) do %>
        <div class = "form-group">
          <%= text_field_tag :name,@name,:placeholder => "Enter Name",:id => "username_input",:class => 'form-control'%>
        </div>
        <%= submit_tag "Change Name", :onclick => "return namechangedfunction()",:class => 'btn btn-lg btn-block btn-default namechange-button add-topic-btn',:id => "namechange-button"%>

        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Name changed -->
<div class="modal fade" id="namechanged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Name has been changed!</h4>
      </div>
      <div class="modal-body">
        <p id ="namechangedtext">Your Name has been changed to:</p>
      </div>
    </div>
  </div>
</div>
<!--Changing issue -->
<div class="modal fade" id="changeissue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change your issue</h4>
      </div>
      <div class="modal-body">
        <p id="issuetext1">Your current issue is: <%= @issue %> </p>
        <!-- This sends a form away to the controller for changing name -->
        <%= form_tag(changeissue_path, method: "Post", :remote => true) do %>
        <div class = "form-group">
          <%= text_field_tag :issue,@issue,:placeholder => "Enter issue",:id => "issue_input",:class => 'form-control'%>
        </div>
        <%= submit_tag "Change Issue", :onclick => "return issuechangedfunction()",:class => 'btn btn-lg btn-block btn-default namechange-button add-topic-btn'%>

        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Issue changed -->
<div class="modal fade" id="issuechanged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Issue has been changed!</h4>
      </div>
      <div class="modal-body">
        <p id ="issuechangedtext">Your Issue has been changed to:</p>
      </div>
    </div>
  </div>
</div>


