<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>
  var socket = io.connect('http://helpingchatbackend.herokuapp.com');
  //var socket = io.connect('http://localhost:8080');

  // on connection to server, ask for user's name with an anonymous callback
  socket.on('connect', function(){
    // call the server-side function 'adduser' and send one parameter (value of prompt)
  });
   socket.on('replytonewuser', function(){
    //When a user joins a chat a need to reply
    socket.emit('replynewuser', $('#issue').text());
  });
  // listener, whenever the server emits 'updatechat', this updates the chat body
  socket.on('updatechat', function (username, data) {
     $('<li></li>').html(username + ": " + data).appendTo('#chat');
    document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
    });


  function switchRoom(room){
    socket.emit('switchRoom', room);
  }
</script>

<!-- Nav bar -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class = "navbar-header">
      <p class = "navbar-brand brand"> Helping Chat </p>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

 </div>
</nav>
<!-- Main_Page -->
<!-- Desktop side -->
<!-- /#sidebar-wrapper -->
<div class="maincontainer">
  <div class="column-center">
    <div class="chat-header">
      <h4 class="chat-header-text">You are chatting to: </h4>
      <input type="button" id="messagesend" class="btn endchat-btn lightcoral" value="Start Chatting" />
    </div>
    <div class="chat-footer">
        <div class="chat-input-div">
          <textarea id="messagetextinput" class="message chat_message"> </textarea>
          <input type="button" id="messagesend" class="btn chat-button  cadetblue pull-right " value="Send" />
        </div>
    </div>
  </div>
  <div class="column-left">
    <div class ="left-option top-option">
      <div class = "left-option-head ">
        <h4>Other Places for Advice <span class="caret"></span></h4>
      </div>
    </div>

    <div class ="left-option">
      <div class = "left-option-head ">
        <h4>Starting Questions <span class="caret"></span></h4>
      </div>
    </div>

    <div class ="left-option">
      <div class = "left-option-head ">
        <h4>About Helping Chat <span class="caret"></span></h4>
      </div>
    </div>
    <div class ="left-option">
     <div class = "left-option-head ">
        <h4>Contact Helping Chat <span class="caret"></span></h4>
      </div>
    </div>
    <div class ="left-option">
     <div class = "left-option-head ">
        <h4>Share Helping Chat <span class="caret"></span></h4>
      </div>
    </div>
  </div>
  <div class = "column-right">
    <div class = "right-info">
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Chat Lower -->
      <ins class="adsbygoogle"
           style="display:block"
           data-ad-client="ca-pub-2049126681125303"
           data-ad-slot="3966071276"
           data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
  </div>
</div>
</div>
<!-- End of the main container -->



<!--Splash Modal -->
<div class="modal fade" id="splashmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Welcome to Helping Chat</h4>
      </div>
      <div class="modal-body">
        <p>
          Hello and Welcome to Helping Chat! This website is here to help anyone that is dealing with an issue in their life. Its a simple anonmiouns chat program that allows you to talk to a random person that has an issue and you will work out both your issues together in a place where you can not be judged or anyone know who you are.If you ares till having issues after using this website please seak some help from a doctor as they can and will help you.
          <br>
          You can find me on twitter here: <a href="https://www.twitter.com/robertwildman">@Robertwildman</a>.
          <br>
          You can email me at <a href="mailto:robertwildman@helpingchat.com?subject=Website Feedback">robertwildman@helpingchat.com</a>.
          <br>
          Your current name: <span id = "name"><%= @name %></span>.
          <br>
          <% if got_issue? %>
          Your current saved issue: <span id="issue"><%= @issue %></span>.
          <% else %>
          There is no issue saved for you, If you would like to add one please click on the button below.
          <% end %>
        </p>
      </div>
      <div class="modal-footer">
        <div class="modal-spalsh-buttongroup">
          <div class="modal-splash-button">
           <a data-toggle="modal" class="model-splash-link" data-target="#changename">Change Name</a>
         </div>
         <div class="modal-splash-button">
           <a data-toggle="modal" class="model-splash-link" data-target="#changeissue">Change Issue</a>
         </div>
         <div class="modal-splash-button">
           <a onclick="startchattesty()" class="model-splash-link"> Start Chatting</a>
         </div>
       </div>
     </div>
   </div>
 </div>
</div>


<!-- About Us -->
<div class="modal fade" id="aboutmodel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">About Us</h4>
      </div>
      <div class="modal-body">
        <p>
          Hello and Welcome to Helping Chat! This website is here to help anyone that is dealing with an issue in their life. Its a simple anonmiouns chat program that allows you to talk to a random person that has an issue and you will work out both your issues together in a place where you can not be judged or anyone know who you are.
        </p>
        <br>
        <p>You can find me on twitter here: <a href="https://www.twitter.com/robertwildman">@Robertwildman</a>
          <br>
          You can email me at robertwildman@helpingchat.com .
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Starting Questions -->
<div class="modal fade" id="startingquestions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Starting Questions</h4>
      </div>
      <div class="modal-body">
        <p> To help you get the convestions going. We have come up with some good starting questions to break the ice and help each ohter quicker and better.
          <ol>
            <li>How are you currently feeling due to your issue? </li>
            <li>What hobbies do you have? </li>
            <li>What makes your feel good about yourself? </li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>

<!--Other places to help -->
<div class="modal fade" id="placeshelp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Other places to get help</h4>
      </div>
      <div class="modal-body">
        <p>Sometimes this site can't help you or can't give the the full help you will need to get better. For this reason we encore you vist these sites based on the issue that you might have.
        </p>
      </div>
    </div>
  </div>
</div>
<!--Rules -->
<div class="modal fade" id="rules" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Rules</h4>
      </div>
      <div class="modal-body">
        <p>
          We want to keep the rules simple an easy to follow.
          <ol>
            <li>Understand people are farglie when on the site. </li>
            <li>Respect who the person is and who they want to be.</li>
            <li>Be open minded about someones view and listen to them. </li>
            <li>No making fun or trolling people. </li>
            <li>Respect the other person pricay. </li>
          </ol>
        </p>
      </div>
    </div>
  </div>
</div>

<!--Changing name -->
<div class="modal fade" id="changename" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change your Name </h4>
      </div>
      <div class="modal-body">
        <p id="nametext1">Your current name is: <%= @name %> </p>
        <!-- This sends a form away to the controller for changing name -->
        <%= form_tag(changename_path, method: "Post", :remote => true) do %>
        <div class = "form-group">
          <%= text_field_tag :name,@name,:placeholder => "Enter Name",:id => "username_input",:class => 'form-control'%>
        </div>
        <%= submit_tag "Change Name", :onclick => "return namechangedfunction()",:class => 'btn btn-lg btn-block btn-default namechange-button add-topic-btn',:id => "namechange-button"%>

        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Name changed -->
<div class="modal fade" id="namechanged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Name has been changed!</h4>
      </div>
      <div class="modal-body">
        <p id ="namechangedtext">Your Name has been changed to:</p>
      </div>
    </div>
  </div>
</div>
<!--Changing issue -->
<div class="modal fade" id="changeissue" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Change your issue</h4>
      </div>
      <div class="modal-body">
        <p id="issuetext1">Your current issue is: <%= @issue %> </p>
        <!-- This sends a form away to the controller for changing name -->
        <%= form_tag(changeissue_path, method: "Post", :remote => true) do %>
        <div class = "form-group">
          <%= text_field_tag :issue,@issue,:placeholder => "Enter issue",:id => "issue_input",:class => 'form-control'%>
        </div>
        <%= submit_tag "Change Issue", :onclick => "return issuechangedfunction()",:class => 'btn btn-lg btn-block btn-default namechange-button add-topic-btn'%>

        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Issue changed -->
<div class="modal fade" id="issuechanged" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Issue has been changed!</h4>
      </div>
      <div class="modal-body">
        <p id ="issuechangedtext">Your Issue has been changed to:</p>
      </div>
    </div>
  </div>
</div>


<!-- Pick Profile Picture Modal-->
<div class="modal fade" id="Pickprofilepic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header pick-header">
        <h4 class="modal-title pick-title" >Please Pick A Profile Picture</h4>
      </div>
      <div class="modal-body">
        <div class="pickboxmain icon">
            <h5 class="icontext">Pick a Icon: </h5>
            <div class="pickbox">
              <div class="center">
                 <div class="pickcircle pickiconcircle pickiconselected pickcolor_red"  id ="pickicon_controller">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_mic">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_heart">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_star">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_lightbulb">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_face">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_cupcake">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_zen">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_football">
                  </div>
                  <div class="pickcircle pickiconcircle pickcolor_red" id ="pickicon_paw">
                  </div>
                </div>
            </div>
        </div>
        <div class="pickboxmain icon">
            <h5 class="icontext">Pick a Background Color: </h5>
            <div class="pickbox">
                  <div class="pickcircle pickcolorcircle pickcolorselected" id ="pickcolor_red">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_pink">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_purple">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_indigo">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_blue">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_cyan">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_teal">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_lightgreen">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_yellow">
                  </div>
                  <div class="pickcircle pickcolorcircle" id ="pickcolor_orange">
                  </div>
            </div>
        </div>
      <input type="button" id="saveprofilepicture" class="btn save-pic-btn pull-right" value="Save Profile Picture >" />
      </div>
    </div>
  </div>
</div>

