<% provide(:title, 'About us') %>
<%= stylesheet_link_tag "about" %>
<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300' rel='stylesheet' type='text/css'>
<div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h1 class="masthead-brand">Friendly Chat</h1>
            </div>
          </div>

          <div class="inner_cover">
            <%= subscribe_to "/messages/new" %>
            <ul id="chat">
            </ul>
           <script src="/javascripts/application.js" type="text/javascript" charset="utf-8" async defer>
           PrivatePub.subscribe("/messages/new", function(data, channel) {
                    $("#chat").append(data.chat_message);
                  });
</script>
          <h1>This is homepage</h1>
          <%= form_for chat.Send, remote: true do |f| %>
            <%= f.text_field :content %>
            <%= f.submit "Send" %>
          <% end %>
          <div class="mastfoot">
            <div class="inner">
              Developed by <a href="https://twitter.com/robertwildman">@Robertwildman</a>.
              Source Code on <a href="https://twitter.com/robertwildman">github.</a></p>
            </div>
          </div>

        </div>

      </div>

    </div>